/* Toggle Switch Styles */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #4f46e5; /* indigo-600 */
}

input:checked ~ .block {
    background-color: #c7d2fe; /* indigo-200 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
}
